* {
    margin: 0px;
    padding: 0px;
}


body {
    background: hsl(208, 0%, 90%);;
}

html {
    overflow-x: hidden;
}

/* ----- formatação geral ------ */


.active {
    color: black;
}

.imgEdit {
    width: 500px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(209, 209, 209); 
} 

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: rgb(187, 26, 26);
    border-radius: 1000px
}

.imgHover {
    width: 550px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(209, 209, 209); 
}

.imgHoverLeave {
    width: 500px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(209, 209, 209); 
}


/* ------- Style Topo -------- */

#container_topo {
   background: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 0px;
    margin: 0;
    
}

.navbar {
    display: flex;
    justify-content: flex-start;
    width: 1270px;
    height: 60px;
}



nav ul li {
    display: inline;
}

nav ul li a{
    color: #fff;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    
}

nav ul li a:hover{
    text-decoration: none;
    color: rgb(187, 26, 26);
    transition: all .3s;
}

/* ------- Style content topo -------- */

#container_inicio {
    background-image: url(../img/saopaulo.jpg);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1270px;
    height: 500px;
    
}

.logosp {
    height: 300px;
}

.textAnimation {
    max-width: 700px;
}

#container_inicio h1{
    font-family: "Poppins" Verdana, Geneva, Tahoma, sans-serif;
}

h1::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.menudrop ul li{
    display: inline;
    text-decoration: none;
    padding: 5px;
}

.menudrop ul li a{
    color: rgb(187, 26, 26);
    font-weight: 500;
}

.menudrop ul li a:hover {
    text-decoration: none;
    color: black;
}
.menudrop {
    margin-top: 10px;
}
    

.divisor {
    display: flex;
    justify-content: center;
    background: rgb(187, 26, 26);
    height: 3px;
    width: 1170px;
    margin: 0 auto;
    border-radius: 100%;
}

.checkbtn {
    color: rgb(255, 0, 0);
    font-size: 25px;
    display: none;
}

/* ------- Style Cidades -------- */

#container_cidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px;
   
}

.cidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1270px;
    margin-top: 50px;
}

.cidades h2 {
    color: rgb(187, 26, 26);
}

.cidades_items {
    display: flex;
    justify-content: space-around;
    width: 1270px;
    margin-top: 150px;
    
}

.cidades_items p{
    max-width: 400px;
}

h3 {
    color: rgb(187, 26, 26); 
}

p {
    font-size: large;
    text-align: left;
    font-weight: 600;
}


.btn-edit {
    background: none;
    color: rgb(187, 26, 26); 
    border: 2px solid rgb(187, 26, 26); 
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    width: 170px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: color 0.4s ease;
}

.efeito::before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    width: 0px;
    height: 44px;
    background: rgb(187, 26, 26); 
    border-radius: 10px;
    transition: all .5s ease;
    z-index: -1;
}

.efeito:hover::before{
    width: 100%;
}

.efeito:hover {
    color: #fff;
}

.divisor2 {
    background: rgb(187, 26, 26);
    height: 3px;
    width: 1170px;
    margin: 0 auto;
    border-radius: 100%;
}


/* ---- Footer ----- */
#container_footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
}

#footer_items{
    display: flex;
    justify-content: space-around;
    width: 1270px;
}

footer a{
    color: rgb(187, 26, 26); 
    font-weight: 600;
}

footer a:hover {
    text-decoration: none;
    color: black;
}



/* Animation */


[data-anime] {
    opacity: 0; 
    transition: .4s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}



/* ------ Responsividade ------- */

@media (max-width: 575.98px) {

     /* ----- Topo ----- */
     #container_inicio {
        background-image: url(../img/saopaulo.jpg);
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px;
    }
    
    .inicio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 500px;
        
    }
    .logosp {
        height: 150px;
        margin-top: 110px;
    }
    
    .textAnimation {
        max-width: 300px;
        margin-bottom: 110px;
    }

    h1 {
        font-size: 20px;
    }

    /* ---- Navbar ----- */
    .divisor {
        width: 300px;
    }

    .menudrop ul li a{
        color: rgb(187, 26, 26);
        font-weight: 500;
        font-size: 10px;
        display: none;
    }

    /* ------- Cidades ------ */
    
    #container_cidades{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .cidades {
        display: flex;
        justify-content: center;
        width: 300px;
        margin-top: 50px;
    }

   .informacoes {
       display: flex;
       flex-direction: column;
       
   }

    .cidades_items {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 300px;
        margin-top: 150px;
        padding-bottom: 10px;
    }
   
    .imgEdit {
        width: 300px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgb(209, 209, 209); 
    }


    p {
        font-size: large;
        font-weight: 600;
        font-size: 15px;
    }

    .cidades_items p{
        max-width: 300px;
    }

    h3 {
        font-size: 25px;
        margin: 20px;
    }

     /* ------ Footer ------ */
     #footer_items{
        display: flex;
        justify-content: space-around;
       width: 300px;
    }

    .divisor2 {
        width: 300px;
    }

    .btn-edit {
        margin: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* ----- Topo ----- */
    #container_inicio {
        background-image: url(../img/saopaulo.jpg);
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px;
    }
    
    .inicio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 576px;
        height: 500px;
        
    }
    .logosp {
        height: 150px;
        margin-top: 110px;
    }
    
    .textAnimation {
        max-width: 400px;
        margin-bottom: 110px;
    }

    h1 {
        font-size: 30px;
    }

    /* ---- Navbar ----- */
    .divisor {
        width: 576px;
    }

    .menudrop ul li a{
        color: rgb(187, 26, 26);
        font-weight: 500;
        font-size: 15px;
    }

    /* ------- Cidades ------ */
    
    #container_cidades{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .cidades {
        display: flex;
        justify-content: center;
        width: 576px;
        margin-top: 50px;
    }

   .informacoes {
       display: flex;
       flex-direction: column;
       
   }

    .cidades_items {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 576px;
        margin-top: 150px;
        padding-bottom: 10px;
    }
   
    .imgEdit {
        width: 350px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgb(209, 209, 209); 
    }


    p {
        font-size: large;
        font-weight: 600;
        font-size: 15px;
    }

    .cidades_items p{
        max-width: 300px;
    }

    h3 {
        font-size: 25px;
        margin: 20px;
    }

     /* ------ Footer ------ */
     #footer_items{
        display: flex;
        justify-content: space-around;
        width: 576px;
    }

    .divisor2 {
        width: 576px;
    }

    .btn-edit {
        margin: 15px;
    }

  
}
    

@media (min-width: 768px) and (max-width: 991.98px) {


    /* ----- Topo ----- */
    #container_inicio {
        height: 400px;
    }
    
    .logosp {
        height: 200px;
    }
    
    .textAnimation {
        max-width: 500px;
    }

    h1 {
        font-size: 30px;
    }

    /* ---- Navbar ----- */
    .divisor {
        width: 768px;
    }

    .menudrop ul li a{
        color: rgb(187, 26, 26);
        font-weight: 500;
        font-size: 12px;
    }

    /* ------- Cidades ------ */
    .cidades {
        width: 768px;
       
    }

    .imgEdit {
        width: 300px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgb(209, 209, 209); 
    }

    p {
        font-size: large;
        text-align: left;
        font-weight: 600;
        font-size: 15px;
    }

     /* ------ Footer ------ */
     #footer_items{
        display: flex;
        justify-content: space-around;
        width: 768px;
    }

    .divisor2 {
        width: 768px;
    }


    

}

@media (min-width: 992px) and (max-width: 1199.98px) {


    /* ------ Topo ------ */
    #container_inicio {
        height: 400px;
    }
    
    .logosp {
        height: 200px;
    }
    
    .textAnimation {
        max-width: 600px;
    }

    /* ------ Navbar ------ */

    .divisor {
        width: 992px;
       
    }

    

    /* ------- Style Cidades -------- */

    .cidades {
        width: 992px;
       
    }

    /* ------ Footer ------ */
    #footer_items{
        display: flex;
        justify-content: space-around;
        width: 992px;
    }

    .divisor2 {
        width: 992px;
    }


    
    
}
