/* ---------- Formatações gerais -------- */


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all .2s linear;
}


html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #ffc107;
    border-radius: 10%;
}

body {
    height: 100%;
    background: #000;
}




/* ---------- Style Header (Topo site) -------- */

#topo_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: none;
    
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1370px;
    height: 80px;
    position: relative;
}

.navbarFixed {
    position: fixed;
    z-index: 1;  
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 0rem 16rem; 
    box-shadow: .2rem .2rem 0 rgba(0, 0, 0, .3);
}



header ul li{
    list-style: none;
    display: inline-block;
    margin-top: 18px;
}

header ul li a{
    color: #fff;
    padding: 7px;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: none;
    color: #ffc107;
}


#cart-btn, #menu-btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
}

#cart-btn:hover, #menu-btn:hover {
    color: red;
}

#menu-btn {
    display: none;
    padding-right: 10px;
}

#cart-btn {
    padding-left: 30px;
}

.text_inicio h3{
    color: #fff;
}


.btn-edit {
    background: none;
    color: #fff;
    border: 2px solid #ffc107;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 170px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    transition: color 0.5 ease;
}

.btn-edit:hover {
    background: #ffc107;
    color: #000;
    transition: all;
}


/* ---------- Style Slide inicio -------- */

#home {
    display: flex;
    height: 100%;
    background-image: url(../images/fundo.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.text_inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.text_inicio h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: .3rem .3rem 0 rgba(0, 0, 0, .3);

}

.text_inicio span {
    color: #ffc107;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
}

.btn-lanches {
    background: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    
}

.btn-lanches {
    background: rgb(163, 5, 5);;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    width: 270px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.5 ease;
}

.btn-lanches:hover {
    color: #ffc107;
    transition: all; 
}



/* ----------Style Sobre -------- */
#container_sobre {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50em;
    background: #edeee9;
    
}

.sobre_items {
    display: flex;
    justify-content: space-around;
    width: 1370px;
    margin-top: 100px;

}

.sobre_items h3{
    line-height: 3.0em;
    max-width: 500px;
    font-size: 20px;
    margin-top: 100px;
    color: #000;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sobre_items h3 span{
    font-size: 50px;
    color: rgb(163, 5, 5);
    font-weight: 600;
}

.sobre_items img {
    width: 500px;
    height: 500px;
    margin-top: 40px;
}

.sobre_items p {
    max-width: 600px;
    font-weight: 900;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: rgb(27, 27, 27);
    font-size: 18px;
}


.btn-sobre {
    background: #ffc107;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    box-shadow: .2rem .2rem 0 rgba(0, 0, 0, .3);
}

.btn-sobre:hover {
    color: rgb(163, 5, 5);
}


/* ---------- Style cardpaio -------- */
#container_cardapio {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #edeee9;
}

.cardapio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1470px;
    
}

.cardapio_text{
    height: 200px;
    width: 100%;
    text-align: center;
}

.cardapio_text h3 {
    font-size: 80px;
    color: rgb(163, 5, 5);
    text-transform: uppercase;
    font-weight: 550;
}

.cardapio_text p {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.cardapio_items {
    display: flex;
    justify-content: center;
    
}

.lanche {
    width: 350px;
    height: 400px;
    margin: 5px 10px 30px 10px;
    text-align: center;
    background: #fff;
    box-shadow: .2rem .2rem 0 rgba(0, 0, 0, .1);
}

.cardapio_items p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(163, 5, 5);
}

.cardapio_items p span {
    font-size: 15px;
    text-decoration: line-through;
}

.cardapio_items img {
    margin-top: 20px;
    width: 250px;
}


.btn-pedir {
    background: none;
    color: rgb(163, 5, 5);
    border: 2px solid rgb(163, 5, 5);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    position: relative;
    cursor: pointer;
    transition: color 0.5 ease;
}

.btn-pedir:hover {
    background-color: rgb(163, 5, 5);
    color: #fff;
    transition: all;
}





/* ------ Contato  ------ */

#contato {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #ccc;
}

.contato_items {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 720px;
    width: 1470px;
    background: #fff;
    border-radius: 15px
    
}

.contato_img {
    display: flex;
    align-content: center;
    float: left;
    width: 40%;
    background: #fde7a3;  
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.contato_img img {
    width: 570px;
    margin-left: 10px;   
}

.form {
    width: 58%;
    padding-top: 40px;
    
}

.form h5 {
    color: #ffc107;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center; 
   
}

.form label {
    font-size: 25px;
    color: #000;
    font-weight: bold;
}

.form input {
    width: 390px;
    height: 35px;
    border: none;
    padding-left: 5px;
}

input:hover{
    color: #fff;
    border: none;
}

.inputEdit {
    border: 2px solid #ffc107;
    width: 400px;
    border-radius: 5px;
}


textarea {
    border: 2px solid #ffc107;
    width: 700px;
    min-height: 100px;
    max-height: 150px;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: rgb(78, 78, 78);
    font-weight: 700;
    opacity: 0.5;
}

.btn-form {
    width: 200px;
    color: #fff;
    background: #ffc107;
    font-weight: bold;
}

.btn-form:hover {
    color: #000;
}



/* ------review ------ */

#review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
    background: #ccc;
}

.review_items {
    display: flex;
    width: 1570px;
    justify-content: space-between;
}
.review-user {
    background: #fff;
    width: 500px;
    height: 500px;
}

.textReview h5 {
    color: rgb(163, 5, 5);
    font-size: 60px;
    margin: 100px 0px 40px 0px;
}


/* ------Footer ------ */
#footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background: rgb(32, 32, 32);
}

.footer_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1370px;
}

.contatosCenter {
    display: flex;
    text-align: center;
}

.footer_items p{
    color: #ffc107;
    font-size: 20px;
    font-weight: 600;
}

.footer_items ul li a{
    color: #fff;
    font-weight: bold;
}

.footer_items ul li a:hover{
    margin-left: 8px;
}

.footer_items ul li{
    padding: 5px 0px 5px 0px;
    list-style: none;
}


.redesfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redesfooter p {
    color: #fff;
}

.icons a{
    color: #ffc107;
    padding: 0px 10px 10px 10px;
   
}
.icons {
    margin-bottom: 20px;
}









/* ------ Animation ------ */

[data-anime]{
    opacity: 0;
    transition: all .3s ease;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0px, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0px, 0px);
}

[data-anime].animation {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}


